.navigation-container {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add this line to add a box shadow */
    margin-bottom: 20px;

    .navigation {
        width: 80%;
        margin: 0 auto;
        padding: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        // margin-bottom: 25px;

        img {
            height: 26px;
        }

        .logo-container {
            height: 35px;
            width: 100px;
            padding: 0;
            overflow: hidden;
            display: flex;
            align-items: center;
            transform: scale(1.3);
            padding-bottom: 10px;
            // padding: 25px;
            img {
                height: 100px;
                width: 100px;
                // object-fit: fit;
            }
        }

        .nav-links-container {
            // width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .nav-link {
                padding: 10px 15px;
                cursor: pointer;
            }
        }
    }
}
